<nav class="navbar navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TaskList</a>
  </div>
</nav>


<main class="ml-5 mr-5">
  <div id="tabs" #tabs>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#pending" [ngClass]="{ 'active':activeTab==='pending'}"
          (click)="notfy('pending')" data-toggle="tab">Criar Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#completed" [ngClass]="{ 'active':activeTab==='completed'}" data-toggle="tab"
          (click)="notfy('completed')">Tasks Concluidas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#inative" [ngClass]="{ 'active':activeTab==='inative'}" data-toggle="tab"
          (click)="notfy('inative')">Tasks Inativas</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="pending" [ngClass]="{ 'active':activeTab==='pending'}">
        <app-task-list-pending></app-task-list-pending>
      </div>
      <div class="tab-pane" id="completed" [ngClass]="{ 'active':activeTab==='completed'}">
        <app-task-list-completed></app-task-list-completed>
      </div>
      <div class="tab-pane" id="inative" [ngClass]="{ 'active':activeTab==='inative'}">
        <app-task-list-inative></app-task-list-inative>
      </div>
    </div>

  </div>
</main>


<ngx-spinner></ngx-spinner>